.top-menu-cont {
    text-align: center;
}

.search-cont {
    width: auto;
    height: auto;
    margin-left: 3%;
    margin-top: 2%;
    justify-content: center;
    text-align: center;
}

.departure-search-cont {
    width: 33%;
    float: left;
}

.destination-search-cont {
    width: 33%;
    float: left;
}

.date-search-cont {
    width: 33%;
    float: left;
}

.post-ride-btn-cont {
    width: 100%;
    margin-top: 1%;
    float: left;
    margin-bottom: 1%;
}

.post-comments {
    width: 100%
}

.post-ride-btn {
    width: 33%;
    float: left;
}

.post-ride-tog {
    width: 66%;
    float: left;
}

.post-ride-cont {
    width: 50%;
    float: left;
}